.my-travels {
  background-color: #f2f2f7;
}

.parent {
  padding: 1rem;
}
.child1 {
  width: 600px;
  padding: 0px !important;
  margin-left: 100px;
  float: left;
}
.child2 {
  width: auto;
  padding: 0px !important;
  float: right;
}
.travel-card {
  width: 80%;
  margin: 0px 15px 0px 60px;
}

@media screen and (max-width: 700px) {
  .parent {
    padding: 1rem;
  }
  .child1 {
    padding: 0px;
    width: 100% !important;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
  }
  .child2 {
    padding: 1rem;
    width: 100% !important;
    height: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    font-size: 20px;
  }
  .travels-card {
    width: 100%;
  }
}
