.main-content {
  background-image: url(../../../assets/Images/desktop-main-background.png);
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.login-btn {
  color: #fff;
  font-family: "Roboto Slab";
  font-size: 24px;
  width: 380px;
  height: 130px;
  border: transparent;
  right: 0;
  margin-right: 10px;
}
.align-bottom {
  position: absolute;
  bottom: 44%;
  right: 0;
}
@media screen and (max-width: 500px) {
  .main-content {
    background-image: url(../../../assets/Images/main-background.png);
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .login-btn {
    color: #ffefef;
    font-family: "Roboto Slab";
    width: 300px;
    height: 100px;
    font-size: 20px;
    right: 0;
    margin-right: 10px;
  }
  .align-bottom {
    position: absolute;
    bottom: 21.5%;
    right: 0;
  }
}
