<table style="width: 100%">
  <tr>
    <th style="width: 60%">
      <div>
        <input
          ngx-google-places-autocomplete
          class="my-search-box"
          placeholder="Search Location"
          #search
        />
      </div>
    </th>
  </tr>
  <tr>
    <td>
      <google-map
        #myGoogleMap
        height="600px"
        width="100%"
        [zoom]="zoom"
        [center]="center"
        [options]="options"
        (mapClick)="handleClick($event)"
      >
        <map-marker
          #somemarker="mapMarker"
          *ngFor="let marker of markers; index as indexOfelement"
          [position]="marker.marker.position"
          (mapClick)="openInfo(somemarker, marker.infoWindow, indexOfelement)"
        >
          <map-info-window>
            <div class="marker-info">
              <p>{{ infoContent.split("#")[0] }}</p>
              <p>
                Address:{{ infoContent.split("#")[1] }} <br />
                Budget: {{ infoContent.split("#")[2] }} <br />
                Description: {{ infoContent.split("#")[3] }} <br />
              </p>
              <button mat-button color="warn" (click)="deleteMarker()">
                Delete
              </button>
            </div>
          </map-info-window>
        </map-marker></google-map
      >
    </td>
    <td>
      <mat-card class="location-list">
        <mat-card-title>Add Location To Travel</mat-card-title>
        <mat-card-content>
          <form [formGroup]="frmStepTwo">
            <mat-form-field class="add-location-form">
              <mat-label>Travel Name</mat-label>
              <input
                [formControl]="TravelName"
                matInput
                [(ngModel)]="travelName"
                [readonly]="true"
                required
              />
            </mat-form-field>
            <mat-form-field class="add-location-form">
              <mat-label>Location Name</mat-label>
              <input
                matInput
                [formControl]="Name"
                formControlName="locationNameCtrl"
                [(ngModel)]="locationName"
                [readonly]="true"
                required
              />
            </mat-form-field>
            <!-- <div style="color:red" *ngIf="!locationNameCtrl?.valid">Travel Name Is Required!!!</div> -->
            <mat-form-field class="add-location-form">
              <mat-label> Location Address </mat-label>
              <input
                matInput
                [formControl]="Address"
                formControlName="locationAddressCtrl"
                [(ngModel)]="locationAddress"
                [readonly]="true"
                required
              />
            </mat-form-field>
            <mat-form-field class="add-location-form">
              <mat-select
                #prioritySelect
                formControlName="locationPriorityCtrl"
                placeholder="Select Priority"
                class="add-location-form"
                [(ngModel)]="locationPriority"
                [(value)]="selected"
                required
                (selectionChange)="changeClient($event.value)"
              >
                <mat-option value="High">High</mat-option>
                <mat-option value="Medium">Medium</mat-option>
                <mat-option value="Low">Low</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="add-location-form">
              <mat-label>Budget for this location</mat-label>
              <input
                matInput
                type="number"
                class="example-right-align"
                formControlName="locationBudgetCtrl"
                placeholder="0"
                autocomplete="off"
                [(ngModel)]="locationBudget"
              />
              <span matPrefix>$&nbsp;</span>
              <span matSuffix>.00</span>
            </mat-form-field>
            <mat-form-field class="Description" appearance="fill">
              <mat-label>Description</mat-label>
              <textarea
                matInput
                formControlName="locationDescription"
                [(ngModel)]="locationDescription"
                placeholder="Describe your experience at this location"
              ></textarea>
            </mat-form-field>
            <div class="add-location-button">
              <button mat-raised-button (click)="SaveLocation()">
                Add Location
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </td>
  </tr>
</table>
<div style="margin: 20px 0px 40px 0px">
  <app-locations-table
    (centerMap)="centerMap($event)"
    (deleteLocation)="deleteLocation($event)"
  >
  </app-locations-table>
</div>
<div style="margin-bottom: 100px; display: flex; justify-content: center">
  <button mat-button matStepperPrevious (click)="goBackToCreateUpdateTravel()">
    Back
  </button>
  <button mat-button matStepperNext>Next</button>
</div>
