<div>
  <mat-card class="travels-list">
    <div class="scrollable-card">
      <mat-card-title
        style="
          padding: 1rem;
          margin-left: 30px;
          font-size: 30px;
          color: #252538;
        "
        >Travel Itineraries</mat-card-title
      >
      <mat-card-subtitle>
        <div class="subtitle">
          <div style="justify-content: flex-start">Name</div>
          <div></div>
          <div></div>
          <div></div>
          <div>Status</div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div>Date</div>
          <div style="justify-content: flex-end"></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </mat-card-subtitle>
      <div
        *ngFor="let travel of travelItineraries | async | myfilter: filterargs"
      >
        <mat-card-content>
          <app-view-travel [uniqueTravel]="travel"> </app-view-travel>
        </mat-card-content>
      </div>
    </div>
    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>
