:host {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
}
.lottie-animation {
  width: 750px;
  height: 550px;
  transform: translate3d(0px, 0px, 0px);
  content-visibility: visible;
}
