<div>
  <mat-card class="travels-list">
    <div class="scrollable-card">
      <mat-card-title
        style="
          padding: 1rem;
          margin-left: 30px;
          font-size: 30px;
          color: #252538;
        "
        >Travel Itineraries</mat-card-title
      >

      <div
        *ngFor="let travel of travelItineraries | async | myfilter: filterargs"
      >
        <mat-card-content>
          <app-view-travel [uniqueTravel]="travel"></app-view-travel>
        </mat-card-content>
      </div>
    </div>
    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>
